@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.haircutcontainer{
    width: 100%;
    min-height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.haircutcontainer p {
    text-decoration: underline;
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Satisfy', cursive;
}
.box1 {
    position: relative;
    display: inline-block;
    min-width:31%;
    height: 400px;
    margin-top: 12px;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid black;
    border-radius:25px;
}
.box1 img {
    position: absolute;
    width: 100%;
    height: 400px;
    transition: 0.4s;
    filter: brightness(75%);
}
.box1 img:hover {
    transform: scale(1.3);
    filter: brightness(100%);
}
.box1 .inside {
    position: absolute;
    width: 100%;
    height: 35px;  
    background-color: black;
    display: none;
    transition: 0.6s;
    bottom:0px;
    padding-left: 20px;
}

.box1 .inside p {
    color: white;
    position: absolute;
    top: -20px;
    font-size: 20px;
    font-family: 'Merienda', cursive;

}

.box1 .inside p:nth-child(2){
    right: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
}

.box1 img:hover + .inside  {
    display: block;
}

@media screen and (max-width : 1032px) {
    .box1 {
        width: 45%;
    }
}

